.container{
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.detail{
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 뒤로가기 */
.back {
    position: absolute;
    top: 30px;
    right: 30px;

    color: var(--off-white-color);
    text-decoration: none;
    font-size: 16px;
    z-index: 10;

    padding: 8px 12px;
    border-radius: 6px;
    transition: opacity 0.3s ease;
}
.back:hover {opacity: 0.5;}

/* 설명 */
.overlay {
    margin-top: auto;   /* 핵심 */
    position: static;
    padding: 40px;
    color: var(--off-white-color);
    cursor: default;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
    );
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.5);
}

/* 제목 */
.box {
    display: flex;
}
.title {
    font-size: 32px;
    margin-bottom: 8px;
}

/* 부제목 */
.tagline {
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 16px;
}

/* 설명 */
.overview {
    max-width: 800px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* 장르 */
.genres {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-bottom: 16px;
}

.genres li {
    padding: 4px 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    font-size: 14px;
}

/* 평점 */
.meta {
    display: flex;
    gap: 20px;
    font-size: 14px;
}