.container {
    background-color: var(--bg-color);
}

/* 로딩 박스 중앙 정렬 */
.loading_box {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main);
}

.crad {
    display: grid;
    /* 1fr(비율)을 4번 반복하여 4열로 만듦 */
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 25px; /* 카드 사이 간격 */
    padding: 20px;
    width: 100%;
    max-width: 1200px; /* 최대폭 제한하고 */
    margin: 0 auto; /* 가운데 정렬 */
}

/* 상단 헤더, 푸터 영역 */
.header, .footer {
    background-color: var(--bg-color);
    text-align: center;
}
.header{
    padding: 40px 20px 40px; 
}
.footer{
    padding-bottom: 60px;
}

/* 상단 제목 */
.logo {
    font-family: 'Space Grotesk', sans-serif !important;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: -2px;
    color: var(--white-color);
    margin: 0;
    text-transform: uppercase;
}

.icon {
    color: var(--blue-color);
    font-size: 2.5rem;
    display: inline-flex;
    align-items: center;
    vertical-align: middle; /* 글자와 수평 */
    margin-left: 10px; /* 글자와의 간격 */
}

/* 상단 부제목 */
.subtitle {
    color: var(--off-white-color);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 3px; 
    text-transform: uppercase;
}

/* 하단 푸터 */
.footerText {
    color: var(--white-color);
    font-size: 14px;
}


/* 하단 버튼 컨테이너 */
.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 100px 20px 100px; 
    background-color: var(--main-bg-color);
}

/* 개별 버튼 스타일 */
.page_btn {
    background-color: var(--point-color);
    color:var(--off-white-color);
    border: 1px solid #444;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.1s ease-in;
}

/* 마우스를 올렸을 때 (Hover) */
.page_btn:hover:not(:disabled) {
    background-color:var(--blue-color);
    color: black;
    border-color:var(--off-white-color);
}

/* 비활성화 상태 (Disabled) */
.page_btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    border-color: #333;
}

/* 현재 페이지 숫자 표시 */
.page_num {
    color:var(--white-color);
    font-size: 1.1rem;
    font-weight: bold;
    min-width: 30px;
    text-align: center;
}

/* 모바일 화면 */
@media screen and (max-width: 1000px) {
    .crad {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .crad {
        grid-template-columns: repeat(1, 1fr);
    }
}