.movie_card {
  background-color: #2f2f2f;
  border-radius: 10px;
  overflow: hidden; /* 이미지가 튀어나오지 않게 */
  width: 100%;
  /* position: relative; */
  /* transition: transform 0.3s ease; */
  color: white;
  
}

.movie_card:hover {
  /* background-color: #2f2f2f; */
  z-index: 1;
}
.movie_card a {
  display: block;
  overflow: hidden;
}

.movie_card img {
  width: 100%;
  height: 400px;
  object-fit: cover; 

  position: relative;
  transition: transform 0.3s ease;
  transform:scale(1);
}
.movie_card img:hover {
  transform:scale(1.1);
}

/* 이미지 아래 설명 */
.movie_detail {
  padding: 15px;
}

/* 줄거리 요약 */
.movie_detail p { 
  font-size: 12px;
}

/* 별점 */
.movie_detail h4 {
  padding: 5px 0 10px 0; 
}