.movie_card {
  background-color: var(--point-color);
  border-radius: 10px;
  overflow: hidden; 
  width: 100%;
  color:var(--off-white-color);
}

.movie_card:hover {
  z-index: 1;
}

.movie_card a {
  display: block;
  overflow: hidden;
}

.movie_card img {
  width: 100%;
  height: 400px;
  object-fit: cover; 

  position: relative;
  transition: transform 0.3s ease;
  transform:scale(1);
}
.movie_card img:hover {
  transform:scale(1.1);
}

/* 이미지 아래 설명 */
.movie_detail {
  padding: 15px;
  cursor: default;
}

/* 줄거리 요약 */
.movie_detail p { 
  font-size: 12px;
}

/* 별점 */
.movie_detail h4 {
  padding: 5px 0 10px 0; 
}