/* font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap');


:root {
    --bg-color: #141414;
    --point-color: #2F2F2F;
    --blue-color: #F97316;
    --white-color: #FFFFFF;
    --off-white-color: #E2E2E2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', 'Noto Sans KR', sans-serif !important;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    line-height: 1.5;
    background-color: var(--bg-color);
}

h1 , h2{font-family: 'Noto Sans KR', sans-serif !important;}

/* 로딩 메시지 */
strong {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--off-white-color);
    font-weight: 400;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}