/* font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', 'Noto Sans KR', sans-serif !important;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
    font-size: 15px;
    line-height: 1.5;
    background-color: black;
    /* 정중앙 정렬 */
    /* display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;       */
}

h1 , h2{font-family: 'Noto Sans KR', sans-serif !important;}


/* 로딩 메시지 */
.container strong {
    display: block;
    color: #888;
    font-weight: 400;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}